.menu-list {
    max-width: 65em;
    margin: 2em auto;
    padding: 1em;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.menu-content > h2 {
    flex: 1 0 100%;
    text-align: center;
    margin: 2em 0;
}

.menu-content > h2:first-child {
    margin: 0 0 2em 0;
}

.menu-content > hr {
    width: 75px;
    height: 2px;
    margin: -55px auto 15px auto;
    background: black;
    border: none;
    border-radius: .3em;
}

.menu-items {
    list-style: none outside;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.menu-items li {
    flex: 0 0 31.5%;
    border: 1px solid silver;
    box-shadow: 0 2px 2px 0 rgba(0,35,70,0.2);
    border-radius: .3em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}

.menu-items li:hover {
    box-shadow: 0 16px 64px 0 rgba(0,35,70,0.2);
    transform: translateY(-2px);
}

.menu-items a {
    flex: 1 0 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

.menu-items .card-content {
    flex-grow: 1;
    padding: 1em;
    background: white;
}

.menu-items .card-footer {
    margin-top: auto;
    padding: 1em;
    font-size: .8em;
    display: flex;
    font-weight: bold;
}

.menu-items .card-footer p + p{
    margin-left: .5em;
}

.menu-items .card-footer .preparation {
    color: yellowgreen;
}

.menu-items .meal-wrapper {
    position: relative;
    overflow: hidden;
}

.menu-items .meal-wrapper:before {
    display: block;
    content: '';
    padding-top: 56.25%;
    background: black;
    position: relative;
    overflow: hidden;
}

.menu-items .meal-wrapper > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width:600px) {
    .menu-items li {
        flex: 0 0 100%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 600px) {
    .menu-items {
        justify-content: center;
    }
    .menu-items li {
        flex:0 0 60%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 960px) {
    .menu-items {
        justify-content: space-between;
    }
    .menu-items li {
        flex: 0 0 32.5%;
    }
}