@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

@import url("typography.css");

@import url("site-header.css");

@import url("navigation.css");

@import url("lp-img.css");

@import url("menus.css");

@import url("site-main.css");

@import url("our-team.css");

@import url("our-happy-clients.css");

@import url("site-footer.css");

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to right, #ffffff, #f7f6f7, #efeeef, #e8e5e6, #e1dddd);
}

a {
    text-decoration: none;
}

.button {
    transition: background 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
}