.content-wrapper {
    padding: 1em;
    max-width: 75em;
    max-height: auto;
    margin: 2em auto;
}

.short-intro-info {
    max-width: 57em;
    margin: 1em auto;
}

.short-intro {
    padding: 1em;
    font-size: 1.3em;
    text-align: center;
}

.ceoJ {
    font-size: 1.1em;
    margin-bottom: 2em;
    text-align: right;
    padding: 1em;
}

.short-intro,
.ceoJ {
    opacity: .7;
}

.go-to-the-menu {
    text-align: center;
    max-width: 30em;
    margin: 2em auto 0 auto;
    font-size: 1.4em;
    padding: 1em;
}

.menu-icons {
    list-style: none outside;
    display: block;
}

.menu-icons li {
    display: inline-block;
    margin-top: 1.2em;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width:600px) {
    .menu-icons li{
        font-size: 1.1em;
    }
}

.menu-icons {
    color: yellowgreen;
}

.menu-button {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em 3em;
    border: 3px solid silver;
    margin: 0 auto 4em auto;
    width: 15em;
    color: black;
    border-radius: 0.3em;
}

.menu-button:hover {
    color: white;
    background: yellowgreen;
    border-color: yellowgreen;
}

/* .site-main {
    
}
 */
.our-mission {
    max-width: 60em;
    margin: 0 auto;
    text-align: center;
}

 .our-mission p {
    font-size: 1.3em;
}

.our-mission-top {
    padding-top: 1em;
    padding-bottom: 2em;
}

.sol-prblms {
    font-size: 1.15em;
    padding: 0 2em;
    display: block;
    list-style: none outside;
    text-align:center;
}

.our-mission-bottom {
    padding-top: 2em;
    padding-bottom: 1em;
}