<div class="careers-wrapper">
    <h2 style="text-align: center; margin: 1.5em 0 2em 0;">{{page.title}}</h2>

    <div class="mia-careers" style="text-align: left; margin: 0 auto 2em auto; max-width: 60em; ">
        <p>Officialy we are the first business in the food industry which gives the opportunity for our chefs to work from home. Yeah, you may even call it <strong>Freelancer Chefs</strong>. You wonder why? Well, it is pretty simple: we give the opportunity for our workers to work from their homes and that is not only for the chefs but it is for our salesamen, developers, marketers, hrs etc. We also have the opportunity to offer you a place for to work: office and a restaurant (for now only the kitchen is working, because we are still growing). But if you are a full time mother/father or a person with a lot of free time, hey we are here for you and you are here for us!</p>
    </div>

    <div class="perks">
        <h3 style="color: yellowgreen; text-align: center; flex: 1 0 100%; margin: 2em 0;">You Want Perks? We Got 'Em!</h3>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>dasdaddsda dsk daksdk aksdkasd kadwdaw dawd asdawdawd as</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance </h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
        <div class="perk">
            <i class="fa fa-facebook"></i>
            <h5>vision insurance</h5>
            <p>Perfect peepers for all</p>
        </div>
    </div>

    <div class="what-we-expect">
        <h2 style="text-align: center; margin: 1.5em 0 2em 0; flex: 1 0 100%;">What Are We Expecting?</h2>
        <div class="wwe-in-return">
            <p>We value</p>
            <h3>Our Product</h3>
            <hr>
            <p>We believe in Meal - Prep Kitchen and we take great pride in how we, as individuals contribute to company growth.</p>
        </div>
        <div class="wwe-in-return">
            <p>We value</p>
            <h3>Our Product</h3>
            <hr>
            <p>We believe in Meal - Prep Kitchen and we take great pride in how we, as individuals contribute to company growth.</p>
        </div>
        <div class="wwe-in-return">
            <p>We value</p>
            <h3>Our Product</h3>
            <hr>
            <p>We believe in Meal - Prep Kitchen and we take great pride in how we, as individuals contribute to company growth.</p>
        </div>
    </div>

</div>