<h2>Contact</h2>
<div class="contact-us">
    <div class="contacts">
        <p></p>
    </div>
    <div class="map">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=bulgaria%20sofia%20softuni&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.enable-javascript.net">please enable javascript for this website</a>
        </div>
    </div>
</div>