<h2 class="contact-us-header">{{page.title}}</h2>
<div class="contact-us">
    <div class="contacts">
        <div class="basic-info">
            <h5>Contact us:</h5>
            <p>You could contact us at any time</p>
            <h5>Working schedule:</h5>
            <p>Monday - Friday: 8am - 9pm</p>
            <p>Saturday - Sunday: 9am - 5pm</p>
            <p>Holidays: 9am - 5pm</p>
            <h5>Call us:</h5>
            <p>(+359) 878 745 722</p>
            <h5>Write us:</h5>
            <p>support@meal-prep-kitchen.com</p>
            <h5>Social Media:</h5>
            <ul class="contact-us-icons">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <form class="contact-us-form" action="#" method="post">
            <p>
                <label for="email">Enter you E-mail:</label>
                <input type="email" name="email" id="email" placeholder="your@email.com">
            </p>
            <p>
                <textarea name="question" id="question" cols="30" rows="10" placeholder="Ask us something..."></textarea>
            </p>
            <p>
                <input type="button" class="button" value="Ask Us!">
            </p>
        </form>
    </div>
    <div class="map">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=bulgaria%20sofia%20softuni&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.enable-javascript.net">please enable javascript for this website</a>
        </div>
    </div>
</div>