<div class="faqs-wrapper">
    <h2 style="text-align: center; padding-bottom:1em">{{page.title}}</h2>
    <div class="faqs">
            <h4>Can I choose my recipes?</h4>
            <p>Yes! Every Monday, you’ll receive an email with 15 meal options to choose from. Make your choice by Friday at noon CST of that week, or go with our recommendations for you. If you’d like to swap recipes, you can do so under “My Account”.</p>
            <h4>How Do You Keep Food Fresh In Transit?</h4>
            <p>We ship fresh produce with care using a biodegradable, insulated box with water soluble, cool gel packs designed to keep your food refrigerated, not frozen.</p>
            <h4>How do I recycle Meal - Prep Kitchen?</h4>
            <p>Easy! Our cardboard boxes, bottles and jars are fully recyclable in your curbside bin. Box liners are compostable / recyclable at select facilities. We have an option for re-using the glassware you recieve with every order you make.</p>
            <h4>Can I skip a delivery or cancel my account?</h4>
            <p>Yes to both. You can skip a weekly delivery by Friday at noon CST the week before your scheduled delivery. And if you need to cancel your Meal - Prep Kitchen deliveries for any reason, you can do so under “Account Information” in “My Account”.</p>
            <h4>How much does Meal - Prep Kitchen cost?</h4>
            <p>Meal - Prep Kitchen meals start at $7.99 per serving. Shipping is free when you spend more than $49.</p>
            <h4>Where does Meal - Prep Kitchen Deliver?</h4>
            <p>We deliver coast-to-coast! During signup, you’ll be prompted to enter your zip code to confirm that we deliver to your area.</p>
    </div>
</div>