<div class="gallery-header" style="padding: 1em; margin-top: 2.3em; text-align:center;">
        <h2 style="margin-bottom: 0;">The gallery which you all create!</h2>
</div>
<div class="gallery-content">
        <ul class="gallery">
                <li class="portrait">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/dessert-meal2.jpg" alt="">
                        </a>
                </li>
                <li class="landscape">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meat-meal05.jpg" alt="">
                        </a>
                </li>
                <li class="small">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meat-meal1.jpg" alt="">
                        </a>
                </li>
                <li class="landscape">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/dessert-meal3.jpg" alt="">
                        </a>
                </li>
                <li class="portrait">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/vegetarian-meal3.jpg" alt="">
                        </a>
                </li>
                <li class="small">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/vegan-meal1.jpg" alt="">
                        </a>
                </li>
                <li class="landscape">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meat-meal03.jpg" alt="">
                        </a>
                </li>
                <li class="portrait">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/dessert-meal1.jpg" alt="">
                        </a>
                </li>
                <li class="landscape">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meat-meal06.jpg" alt="">
                        </a>
                </li>
                <li class="portrait">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/vegetarian-meal2.jpg" alt="">
                        </a>
                </li>
                <li class="small">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meat-meal04.jpg" alt="">
                        </a>
                </li>
                <li class="small">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/vegan-meal2.jpg" alt="">
                        </a>
                </li>
                <li class="landscape ff">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/vegan-meal3.jpg" alt="">
                        </a>
                </li>
                <li class="small">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/meal-prep1.png" alt="">
                        </a>
                </li>
                <li class="landscape">
                        <a href="">
                                <img src="{{ site.baseurl }}/images/dessert-meal4.jpg" alt="">
                        </a>
                </li>
        </ul>
</div>