<section>
    <div class="content">
        <h2>Meat - Eaters Menu</h2>
        <ul class="gallery">
            <li>
                <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                <p>sdadsads</p>
            </li>
            <li class="portrait">
                <img src="{{ site.baseurl }}/images/vegetarian-meal.jpg" alt="">
                <p>sdadsfaskdaskdkawdoawdko</p>
            </li>
            <li class="portrait">
                <img src="{{ site.baseurl }}/images/vegan-meal-edited.jpg" alt="">
                <p>ismciseimfdsiemfismciseimfdsiemfismciseiismciseimfdsiemfismciseimfdsiemfismciseiismciseimfdsiemfismciseimfdsiemfismcisei</p>
            </li>
        </ul>
        <h2>Vegetarians</h2>
        <ul class="gallery">
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564093161138-f045232a8f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1562101806-b8ebd0e33011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564089957880-517edea1afc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
        </ul>
        <h2>Vegans</h2>
        <ul class="gallery">
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564093161138-f045232a8f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1562101806-b8ebd0e33011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564089957880-517edea1afc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
        </ul>
        <h2>Desserts</h2>
        <ul class="gallery">
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564093161138-f045232a8f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1562101806-b8ebd0e33011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
            <li class="portrait">
                <a href="#">
                    <span><img src="https://images.unsplash.com/photo-1564089957880-517edea1afc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80" alt=""></span>
                </a>
            </li>
        </ul>
    </div>
</section> 