<form action="#" method="POST" class="sign-in-form">
        <h3 style="padding: .7em 0;">Log In</h3>
        <p>
            <label for="email">Enter email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email:" required>
        </p>
        <p>
            <label for="pass">Enter Password:</label>
            <input type="password" name="pass" id="pass" placeholder="*******" required>
        </p>
        <p>
            <input type="button" value="Log In">
        </p>
    </form>