<section class="menu-list">
    <div class="menu-content">
        <h2>Meat - Eaters Menu</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/salmon-with-spinach.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Salmon with spinach</h4>
                        <p>with garlic and lemon</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">30-35 MIN</p>
                        <p class="allergens">| fish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/chicken-risotto.png" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Chicken & mushroom risotto</h4>
                        <p>with Parmesan, white wine, butter and smoked bacon lardons</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; mushrooms</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/grilled-beef.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Grilled Beef Steak</h4>
                        <p>with grilled veggies</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">25-30 MIN</p>
                        <p class="allergens"></p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Vegetarians</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/eggs-chips.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Healthy egg & chips</h4>
                        <p>with mushrooms, shallots and oreganos</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">50-60 MIN</p>
                        <p class="allergens">| mushrooms &amp; eggs</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/neshto-kato-banica.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Sticky onion & cheddar quiche</h4>
                        <p>with eggs, cream, flour and butter</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; eggs &amp; wheat</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/vegetable-lasagna.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Slow cooker vegetable lasagne</h4>
                        <p>with spinach, pepper, tomatoes, vegetable bouillon, wholewheat lasagna wheats and buffalo mozzarella</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">2:30 - 3 HRS</p>
                        <p class="allergens">| milk &amp; wheat</p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Vegans</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/ramen.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Vegan ramen</h4>
                        <p>with soy sauce, tofu, ginger, ramen and vegetables</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">15 MIN</p>
                        <p class="allergens">| wheat &amp; tofu</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/vegan-meal22.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Oven baked potatoes with chilli peppers</h4>
                        <p>with olives and tomatoes</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| olives</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/zucchini.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Oven baked zuccini </h4>
                        <p>with corn and mashed chickpeas</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">25 MIN</p>
                        <p class="allergens">| corn &amp; chickpeas</p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Desserts</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/brownies.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Gluten Free Brownies</h4>
                        <p>with dark chocolate, eggs, gluten-free plain flour, cocoa powder, chocolate milk and unsalted butter</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">40 MIN</p>
                        <p class="allergens">| milk &amp; eggs &amp; cacao</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/ppie.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Vegan Pumpkin Pie</h4>
                        <p>with sweet shortcrust (we are using Jus-Rol, which is vegan), maple syrup, light brown sugar, cornflour and almond/soy milk</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">2 HRS</p>
                        <p class="allergens">| nuts &amp; soy</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/cupcakes.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Vegan Cupcakes</h4>
                        <p>with non-diary milk, vegan butter, self-raising flour and buttercream</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| nuts &amp; soy &amp; wheat</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section> 