<div class="our-team">
    <h2>Our Team</h2>
    <ul>
        <li>
            <div class="avatar-team">
                <img src="{{ site.baseurl }}/images/jj.jpg" alt="">
            </div>
            <h4>Julien Nedelinov</h4>
            <p class="position">CEO & Founder</p>
            <p><q>Always give everything you got, the universe is watching!</q></p>
        </li>
        <li>
            <div class="avatar-team">
                <img src="{{ site.baseurl }}/images/Lulu.jpg" alt="">
            </div>
            <h4>Luiza Jivkova</h4>
            <p class="position">CFO & Shareholder</p>
            <p><q>If it is for my brother, I will go through ice and fire!</q></p>
        </li>
        <li>
            <div class="avatar-team">
                <img src="{{ site.baseurl }}/images/Brani.jpg" alt="">
            </div>
            <h4>Branimir Ivanov</h4>
            <p class="position">COO, Shareholder & Investor</p>
            <p><q>Be stoic!</q></p>
        </li>
        <li>
            <div class="avatar-team">
                <img src="{{ site.baseurl }}/images/pp4.jpg" alt="">
            </div>
            <h4>Petko Petkov</h4>
            <p class="position">President & Shareholder</p>
            <p><q>Sell everything!</q></p>
        </li>
    </ul>
</div>