<div class="our-happy-clients">
    <h2>A Few Of Our Happy Clients</h2>
    <div class="client">
        <div class="betty">
            <div class="media-wrapper">
                <img src="{{ site.baseurl }}/images/meal-prep1.png" alt="">
            </div>
            <h4><i class="fa fa-instagram"> fitmomma_betty</i></h4>
            <p>"I am really surpsised by the qucik services and the insanely tasty food. Already had 4 orders. Strongly suggest!"</p>
        </div>
    </div>
    <div class="client">
        <div class="john">
            <div class="media-wrapper">
                <img src="{{ site.baseurl }}/images/meal-prep3.jpg" alt="">
            </div>
            <h4><i class="fa fa-instagram"> beastboi_j</i></h4>
            <p>"Man oh man...me and my pops haven't expected such a good service at all. In the past we've tried a couple of meal-prep kitchens but...whoa, even my sister and my mom started following their macronutrients!"</p>
        </div>
    </div>
    <div class="client">
        <div class="jessica">
            <div class="media-wrapper">
                <img src="{{ site.baseurl }}/images/meal-prep2.png" alt="">
            </div>
            <h4><i class="fa fa-instagram"> jessica_fit</i></h4>
            <p>"Just perfect, just perfect! These guys from @meal-prep-kitchen always surprise me with the food's quality...and the gifts they give with every order (shhhh)!!"</p>
        </div>
    </div>
</div>