<div class="our-mission">
    <h2>Our Mission</h2>
    <p class="our-mission-top">Our mission is based on solving one of the main issues these days of today's world - managing our time. We are desired to take off one of the main concers of your shoulders - and that is the cooking. By 'cooking' We do mean, the whole process around it:</p>
    <ol class="sol-prblms">
        <li>1. Shopping the groceries and the seasoning;</li>
        <li>2. Preparing all of the kitchenware we are going to use;</li>
        <li>3. The actual cooking;</li>
        <li>4. The post cooking clean-up;</li>
        <li>5. The actual eating.</li>
    </ol>
    <p class="our-mission-bottom">All these things take time, We know that and that is why we are gladly offering you our services because if you choose us, We will make your schedule less busy and by that you will have more time for yourself, for your family, friends and loved ones!</p>
</div>