<section class="menu-list">
    <div class="menu-content">
        <h2>Meat - Eaters Menu</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan with garlic and Parmesan dasdkaskdsakdaksdkasdksadkasdkakk sdadasd</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Vegetarians</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan with garlic and Parmesan dasdkaskdsakdaksdkasdksadkasdkakk sdadasd</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Vegans</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan with garlic and Parmesan dasdkaskdsakdaksdkasdksadkasdkakk sdadasd</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
        </ul>
        <h2>Desserts</h2>
        <hr>
        <ul class="menu-items">
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan with garlic and Parmesan dasdkaskdsakdaksdkasdksadkasdkakk sdadasd</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="meal-wrapper">
                        <img src="{{ site.baseurl }}/images/meat-meal.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h4>Scallop and Mushroom Risotto</h4>
                        <p>with garlic and Parmesan</p>
                    </div>
                    <div class="card-footer">
                        <p class="preparation">35-45 MIN</p>
                        <p class="allergens">| milk &amp; shellfish</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section> 