<form action="#" method="POST" class="sign-up-form">
    <h3 style="padding: .7em 0;">Sign Up</h3>
    <p>
        <label for="email">Enter email:</label>
        <input type="email" name="email" id="email" placeholder="Enter your email:" required>
    </p>
    <p>
        <label for="pass">Enter Password:</label>
        <input type="password" name="pass" id="pass" placeholder="*******" required>
    </p>
    <p>
        <label for="passagain">Confirm Password:</label>
        <input type="password" name="passagain" id="passagain" placeholder="*******" required>
    </p>
    <p>
        <input type="button" value="Sign Up">
    </p>
    <p style="padding-top: 3em; max-width: 19em;">By continuing, I accept the Meal - Prep Kitchen <a href="{{ site.baseurl }}/legal/" style="color: white;">Terms and Privacy Policy.</a></p>
</form>