<footer class="site-footer">
    <div class="news">
        <ul>
            <li><a href="https://abcnews.go.com/"><img src="{{ site.baseurl }}/images/abs1.png" alt="ABC news"></a></li>
            <li><a href="https://www.bbc.com/news"><img src="{{ site.baseurl }}/images/bbc.png" alt="BBC news"></a></li>
            <li><a href="https://www.nytimes.com/"><img src="{{ site.baseurl }}/images/nyt.png" alt="New York Times"></a></li>
        </ul>
    </div>
    <div class="footer-wrapper">
        <p>
            <a href="{{ site.baseurl }}/">
                <img class="logo" src="{{ site.baseurl }}/images/Logo.png" alt="Logo">
            </a>
        </p>
        <nav class="footer-navigation">
            <ul>SERVICE
                <li><a href="{{ site.baseurl }}/home/">Home</a></li>
                <li><a href="{{ site.baseurl }}/our-menu/">Our Menu</a></li>
                <li><a href="{{ site.baserus }}/healthy-blog/">Healthy Blog</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Students</a></li>
            </ul>
            <ul>RESOURCES
                <li><a href="#">The Table</a></li>
                <li><a href="#">Recipe Categories</a></li>
                <li><a href="#">Kitchenware</a></li>
                <li><a href="#">FAQs & Support</a></li>
                <li><a href="#">Sponsors</a></li>
            </ul>
            <ul>COMPANY
                <li><a href="{{ site.baseurl }}/about-us/">About Us</a></li>
                <li><a href="{{ site.baseurl }}/careers/">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="{{ site.baseurl }}/legal/">Legal</a></li>
                <li><a href="#">Stores</a></li>
            </ul>
        </nav>
        <div class="newsletter">
            <img src="{{ site.baseurl }}/images/Logo.png" alt="">
            <p>Get free recipes and special offers delivered to your inbox every week:</p>
            <form class="newsletter-form" action="#" method="POST">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Email Adress">
                <input class="button" type="button" value="Submit">
            </form>
        </div>
    </div>
    <p class="copyright">&copy;2019-2019, <a href="#">Meal - Prep Kitchen</a> by <a href="#">JJ's Labs</a></p>
    <ul class="sm-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
</footer>
