.lp-img {
    padding: 1em;
    margin-top: -100px;
    padding-top: 10em;
    position: relative;
    max-width: 100%;
    height: 102vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2200&q=80") center no-repeat fixed;
    background-size: cover;
}

.lp-img:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: silver;
    opacity: .4;
    overflow: hidden;
}

.lp-img-header {
    display: flex;
    flex-direction: column;
    /* max-width: 45em; */
    /* height: auto; */
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000000;
    letter-spacing: 0.1em;
    z-index: 1;
}

.lp-img-header h1 {
    font-size: 65px;
}

.lp-img-header p {
    font-size: 1.2em;
}

.lp-img-header p > span {
    color: yellowgreen;
}

.lp-img-header > a.button {
    max-width: auto;
    margin: 3em auto 2em auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: yellowgreen;
    border-radius: 0.3em;
    padding: 1.5em 3em;
    text-shadow: none;
    opacity: .9;
    box-shadow: 0 2px 2px 0 rgba(0,35,70,0.2);
    transition: opacity .3s ease-in, transform .25s ease-in;
}

.lp-img-header > a.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 16px 64px 0 rgba(0,35,70,0.5);
    opacity: 1;
}

@media (max-width: 1024px) {

    .lp-img-header > a.button {
        padding: 1.5em 2em;
    }

    .lp-img {
        max-height: 100%;
      /* background-image: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600q=80") center no-repeat fixed;
        background-size: cover; */
    }

    .lp-img-header h1 {
        font-size: 35px;
    }

    .lp-img-header p {
        font-size: 12px;
    }
}

@media (max-width:1024px) and (max-height: 600px) and (orientation: landscape){
    .site-header {
        position: relative;
        font-size: .8em;
    }

    .logo {
        width: 80px;
    }

    .lp-img {
        height: 100%;
        padding: 20em 0 12em 0;
    }
}
/* @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
    .lp-img {
        height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600q=80") center no-repeat fixed;
        background-size: cover;
    }
} */

/* 
@media only screen and (min-width: 1440px) {
    .lp-img {
        height: 100vh;
        background: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80") center no-repeat fixed;
        background-size: cover;
    }
}

@media only screen and (min-width: 1800px) {
    .lp-img {
        height: 100vh;
        background: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80") center no-repeat fixed;
        background-size: cover;
    }

} */