.our-menu-info {
    max-width: 65em;
    margin: 4em auto 0 auto;
    padding: 1em;
}

.our-menu-info .header {
    text-align: center;
}

.our-menu-info a {
    color: yellowgreen;
    font-weight: bold;
}

.our-menu-info p {
    padding-bottom: .7em;
}