<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meal - Prep Kitchen</title>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/Logo.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include site-header.html %}
    
        <div class="lp-img">
            {% include home-header.html %}
        </div>

        <div class="content-wrapper">
            <p class="short-intro">"We are more than happy to share with all of you that our kitchen services spread all around the flavours of each one of you. From the people enjoying eating meals with meat to the people whose lives are based on eating only from the sources of the Earth. We could even offer you a menu which inlcludes many desserts from "cheat day" desserts to "fit day" desserts. All at one with the Meal - Prep Kitchen."</p>
            <p class="ceoJ">- CEO Julien Nedelinov</p>
        </div>

        {% include showing-short-menu.html %}

        <a href="{{ site.baseurl }}/our-menu" class="menu-button button">Go to the menu</a>

        </div>
        <div class="content-wrapper">
            <main class="site-main">
                {% include our-mission.html %}
                {% include our-team.html %}
            </main>
            {% include our-happy-clients.html %}
        </div>

            <a href="{{ site.baseurl }}/our-menu" class="menu-button button">Go to the menu</a>
            
        </div>

    {% include site-footer.html %}
</body>
</html>