<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meal - Prep Kitchen</title>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/Logo.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/our-menu.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="signin-wrapp">
        {% include site-header.html %}

        {% include login.html %}
                
        {% include site-footer.html %}
    </div>
</body>
</html>