.our-team {
    text-align: center;
    margin-top: 6em;
    margin-bottom: 4em;
}

.our-team > h2 {
    margin-bottom: 2em;
}

.our-team ul {
    list-style: none outside;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center; 
}

.our-team li {
    flex: 1 0 25%;
    margin-bottom: 2em;
}

.avatar-team {
    width: 10em;
    margin: 0 auto;
    margin-bottom: 1.5em;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.2em 0.5rem 0 rgba(0,0,0,0.3);
}

.avatar-team::before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.5) inset;
    background: black;
    opacity: .2;
    transition: opacity 0.3s ease-in;
    z-index: 10;
    pointer-events: none;
}

.avatar-team:hover:before {
    opacity: 0;
}

.avatar-team::after {
    display: block;
    content: '';
    padding-top: 100%;
}

.avatar-team img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 0%;
    transform: translateY(-50%);
    z-index: 5;
}

.our-team ul > li > p {
    max-width: 15em;
    margin: 0 auto;
}

.our-team .position {
    font-weight: bold;
}

.our-team q {
    font-style: italic;
}

@media (max-width: 600px) {
    .our-team li {
        flex: 1 0 100%;
    }

    .avatar-team {
        width: 15em;
    }
}

@media (min-width: 600px) {
    .our-team li {
        flex: 1 0 50%;
    }

    .avatar-team {
        width: 15em;
    }
}

@media (min-width: 1024px) {
    .our-team li {
        flex: 1 0 25%;
    }

    .avatar-team {
        width: 10em;
    }
}
